# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.ruff_cache/
env/
venv/
.venv/
build/
dist/
.pyinstaller/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# App data
experiments/*
!experiments/.gitkeep
~/.neurolight/

# Logs
logs/
*.log

